﻿
@using HCM.WebApp.Module;

@{
    ViewBag.title = "Index";
}
<html>
@* <head> HRMS </head> *@
@* <title>HRMS Launch Page</title> *@
@*     <style>
        body {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        img {
            margin: 10px;
            width: 200px;
            height: 200px;
            object-fit: cover;
            object-position: center;
        }
    </style> *@

<body>
    <img src="../Images/EmployeeData.png" alt="Requests & Tasks">
    <img src="../Images/EmployeeData.png" alt="Employee Data">

    <img src="image3.jpg" alt="Vibe">
    <img src="image3.jpg" alt="Reimbursment">
    <img src="image3.jpg" alt="Compensation">
    <img src="image3.jpg" alt="Attendence">
    <img src="image3.jpg" alt="Leaves">
    <img src="image3.jpg" alt="HR Documents">
    <img src="image3.jpg" alt="Recruitment">
    <img src="image3.jpg" alt="Performance">
    <img src="image3.jpg" alt="Helpdesk">
    <img src="image3.jpg" alt="Timesheet">

    <!-- Add more image tags as needed -->
</body>
</html>

@* @(Html.DevExtreme().DataGrid<SampleOrder>()
    .ShowBorders(true)
    .DataSource(d => d.Mvc().Controller("SampleData").LoadAction("Get").Key("OrderID"))
    .Columns(columns => {
        columns.AddFor(m => m.OrderID);
        columns.AddFor(m => m.OrderDate);
        columns.AddFor(m => m.CustomerName);
        columns.AddFor(m => m.ShipCountry);
        columns.AddFor(m => m.ShipCity);
    })
    .Paging(p => p.PageSize(10))
    .FilterRow(f => f.Visible(true))
    .HeaderFilter(f => f.Visible(true))
    .GroupPanel(p => p.Visible(true))
    .Grouping(g => g.AutoExpandAll(false))
    .RemoteOperations(true)
    .Summary(s => s
        .TotalItems(totalItems => {
            totalItems.AddFor(m => m.ShipCity).SummaryType(SummaryType.Count);
        })
        .GroupItems(groupItems => {
            groupItems.Add().SummaryType(SummaryType.Count);
        })
    )
) *@